<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="public/stylesheets/style.css">
<meta charset="UTF-8">
<style>
div#test{  
		width: 400px;
		height: 350px;
		margin: auto;
		border-width: 2px;
		border-style: dotted;
		border-color: blue;
		padding: 20px 40px 40px 40px; 
		}
</style>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB8oQLKcOlAov-75kt7fsaOl5WjP4mcesU",
    authDomain: "internship-a2ff6.firebaseapp.com",
    databaseURL: "https://internship-a2ff6.firebaseio.com",
    projectId: "internship-a2ff6",
    storageBucket: "internship-a2ff6.appspot.com",
    messagingSenderId: "270704725965"
  };
  firebase.initializeApp(config);
  console.log(firebase);
</script>
<script>
var pos = 0, test, test_status, question, percent, incorrectQuestionArray = [], choice, choices, correct = 0;
var questions = [
    [ "What is 14 + 2?", 16],
	[ "What is 19 + 3?", 22],
	[ "What is 6 x 5?", 30],
	[ "What is 4 / 4?", 1]
];
function _(x){
	return document.getElementById(x);
}

function renderQuestion(){
	percent = (correct/questions.length)*100
	test = _("test");
	if(pos >= questions.length){
		test.innerHTML = "<h2 class='correct'>You got "+percent+"% of the questions correct.</h2>";
		test.innerHTML += "<button class='retake' onclick='retakeTest()'>Retake</button>";
		test.innerHTML += "<button class='retake' onclick='review()'>Review</button>";
		test.innerHTML += "<button class='retake' onclick='retakeWrongAnswer()'>Retake Wrong Answers</button>";
		_("test_status").innerHTML = "Test Completed";
		pos = 0;
		correct = 0;
		return false;

	}
	_("test_status").innerHTML = "<h1>Question "+(pos+1)+" of "+questions.length+"</h1>";
	question = questions[pos][0];
	test.innerHTML = "<h3 class='question'>"+question+"</h3>";
	test.innerHTML += "<textarea class='mainText' id='mainText' name='choices' placeholder='Enter Answer Here'></textarea> <br>";
	if(pos != 0){
		if(choice == questions[pos][1]){
			test.innerHTML += "<button class='left' onclick='previousAnswerCorrect()'>Previous</button>";
			}
		if(choice != questions[pos][1]){
			test.innerHTML += "<button class='left' onclick='previousAnswerIncorrect()'>Previous</button>";
			}
	}
	test.innerHTML += "<button id='submitBtn' class='submit' onclick='checkAnswer(), submitClick()'>Submit</button>";
}

function wrongCorrecto(){
	test = _("test");
	_("test_status").innerHTML = "<h2 class='outline'>"+choice+"</h2>" + "<h2 class='outline'> is correct.</h2>";
	test.innerHTML = ""
	test.innerHTML += "<button class='button' onclick='wrongAnswerCorrect()'>See Question Again</button>";
	test.innerHTML += "<button class='next' onclick='retakeWrongAnswer()'>Next Question</button>";

}

function wrongIncorrect(){
	test = _("test");
	_("test_status").innerHTML = "<h2 class='lol inline'>"+choice+"</h2>" + "<h2 class='inline'> is incorrect.</h2>";
	test.innerHTML = ""
	test.innerHTML += "<button class='button' onclick='wrongAnswerIncorrect()'>See Question Again</button>";
	test.innerHTML += "<button class='next' onclick='retakeWrongAnswer()'>Next Question</button>";
	if(pos == 0){
		incorrectQuestionArray.push(question);
	}
	if(pos == 1){
		incorrectQuestionArray.push(question);
	}
	if(pos == 2){
		incorrectQuestionArray.push(question);
	}
	if(pos == 3){
		incorrectQuestionArray.push(question);
	}
}


function correcto(){
	test = _("test");
	_("test_status").innerHTML = "<h2 class='outline'>"+choice+"</h2>" + "<h2 class='outline'> is correct.</h2>";
	test.innerHTML = ""
	test.innerHTML += "<button class='button' onclick='previousAnswerCorrect()'>See Question Again</button>";
	test.innerHTML += "<button class='next' onclick='nextAnswer()'>Next Question</button>";
}

function incorrect(){
	test = _("test");
	_("test_status").innerHTML = "<h2 class='lol inline'>"+choice+"</h2>" + "<h2 class='inline'> is incorrect.</h2>";
	test.innerHTML = ""
	test.innerHTML += "<button class='button' onclick='previousAnswerIncorrect()'>See Question Again</button>";
	test.innerHTML += "<button class='next' onclick='nextAnswer()'>Next Question</button>";
	if(pos == 0){
		incorrectQuestionArray.push(question);
	}
	if(pos == 1){
		incorrectQuestionArray.push(question);
	}
	if(pos == 2){
		incorrectQuestionArray.push(question);
	}
	if(pos == 3){
		incorrectQuestionArray.push(question);
	}
}

function retakeTest(){
	renderQuestion();
}

function retakeWrongAnswer(){
	if(percent == 100){
		alert('You got everything correct!')
		return
	}
	percent = (correct/incorrectQuestionArray.length)*100
	test = _("test");
	if(pos >= incorrectQuestionArray.length){
		test.innerHTML = "<h2 class='correct'>You got "+percent+"% of the questions correct.</h2>";
		test.innerHTML += "<button class='retake' onclick='retakeTest()'>Retake</button>";
		test.innerHTML += "<button class='retake' onclick='review()'>Review</button>";
		test.innerHTML += "<button class='retake' onclick='retakeWrongAnswer()'>Retake Wrong Answers</button>";
		_("test_status").innerHTML = "Test Completed";
		pos = 0;
		correct = 0;
		incorrectQuestionArray = [];
		return false;

	}
	_("test_status").innerHTML = "<h1>Question "+(pos+1)+" of "+incorrectQuestionArray.length+"</h1>";
	question = incorrectQuestionArray[pos];
	test.innerHTML = "<h3 class='question'>"+question+"</h3>";
	test.innerHTML += "<textarea class='mainText' id='mainText' name='choices' placeholder='Enter Answer Here'></textarea> <br>";
	if(pos != 0){
		if(choice == questions[pos][1]){
			test.innerHTML += "<button class='left' onclick='wrongAnswerCorrect()'>Previous</button>";
			}
		if(choice != questions[pos][1]){
			test.innerHTML += "<button class='left' onclick='wrongAnswerIncorrect()'>Previous</button>";
			}
	}
	test.innerHTML += "<button id='submitBtn' class='submit' onclick='checkWrongAnswer(), submitClick()'>Submit</button>";
}

function review(){
	test = _("test");
	_("test_status").innerHTML = "<h2>Review</h2>";
	test.innerHTML = ""
	test.innerHTML += "<h2 class='one'>Question 1) Your Answer: </h2>"+"<h2 class='one' id='questionOne'></h2>";
	test.innerHTML += "<h2 class='answer'>Correct Answer: 16</h2>";
	test.innerHTML += "<h2 class='two'>Question 2) Your Answer: </h2>"+"<h2 class='two' id='questionTwo'></h2>";
	test.innerHTML += "<h2 class='answer'>Correct Answer: 22</h2>";
	test.innerHTML += "<h2 class='three'>Question 3) Your Answer: "+"<h2 class='three' id='questionThree'></h2>";
	test.innerHTML += "<h2 class='answer'>Correct Answer: 30</h2>";
	test.innerHTML += "<h2 class='four'>Question 4) Your Answer: </h2>"+"<h2 class='four' id='questionFour'></h2>";
	test.innerHTML += "<h2 class='answer'>Correct Answer: 1</h2>";
	test.innerHTML += "<button class='retake' onclick='retakeTest()'>Retake</button>";
	reviewClick();
}

function nextAnswer(){
	renderQuestion();
}

function checkWrongAnswer(){
	if(percent == 100){
		alert('You got everything correct!')
		return
	}
	percent = (correct/incorrectQuestionArray.length)*100
	test = _("test");
	if(pos >= incorrectQuestionArray.length){
		test.innerHTML = "<h2 class='correct'>You got </h2>"+percent+"<h2 class='correct'>% of the questions correct.</h2>";
		test.innerHTML += "<button class='retake' onclick='retakeTest()'>Retake</button>";
		test.innerHTML += "<button class='retake' onclick='review()'>Review</button>";
		_("test_status").innerHTML = "Test Completed";
		pos = 0;
		correct = 0;
		incorrectQuestionArray = [];
		return false;
	}
	choices = document.getElementsByName("choices");
	for(var i=0; i<choices.length; i++){
		choice = choices[i].value;
	}
	if(choice == questions[pos][1]){
		correct++;
		wrongCorrecto();
	}
	if(choice != questions[pos][1]){
		wrongIncorrect();
	}
	pos++;
}

function checkAnswer(){
	percent = (correct/questions.length)*100
	test = _("test");
	if(pos >= questions.length){
		test.innerHTML = "<h2 class='correct'>You got </h2>"+percent+"<h2 class='correct'>% of the questions correct.</h2>";
		test.innerHTML += "<button class='retake' onclick='retakeTest()'>Retake</button>";
		test.innerHTML += "<button class='retake' onclick='review()'>Review</button>";
		_("test_status").innerHTML = "Test Completed";
		pos = 0;
		correct = 0;
		return false;
	}
	choices = document.getElementsByName("choices");
	for(var i=0; i<choices.length; i++){
		choice = choices[i].value;
	}
	if(choice == questions[pos][1]){
		correct++;
		correcto();
	}
	if(choice != questions[pos][1]){
		incorrect();
	}
	pos++;
	
}

function wrongAnswerIncorrect(){
if(pos==0){
		alert("This is the first question.")
	}
	else{
		pos--;
		retakeWrongAnswer();
		}
}

function wrongAnswerCorrect(){
	if(pos==0){
		alert("This is the first question.")
	}
	else{
		correct--;
		pos--;
		retakeWrongAnswer();
		}
}
function previousAnswerIncorrect(){
	if(pos==0){
		alert("This is the first question.")
	}
	else{
		pos--;
		renderQuestion();
		}
	}

function previousAnswerCorrect(){
	if(pos==0){
		alert("This is the first question.")
	}
	else{
		correct--;
		pos--;
		renderQuestion();
		}
	}
window.addEventListener("load", renderQuestion, correcto, incorrect, false);
</script>
<script>
function reviewClick() {
	var firstHeading = document.getElementById("questionOne");
	var firstbaseHeadingRef = firebase.database().ref().child("questionOne");
	firstbaseHeadingRef.on('value', function(firstsnapshot){
		firstHeading.innerHTML = firstsnapshot.val();
		});

	var secondHeading = document.getElementById("questionTwo");
	var mainnText = document.getElementById("mainText");
	var secondbaseHeadingRef = firebase.database().ref().child("questionTwo");
	secondbaseHeadingRef.on('value', function(secondsnapshot){
		secondHeading.innerHTML = secondsnapshot.val();
		});

	var thirdHeading = document.getElementById("questionThree");
	var thirdbaseHeadingRef = firebase.database().ref().child("questionThree");
	thirdbaseHeadingRef.on('value', function(thirdsnapshot){
		thirdHeading.innerHTML = thirdsnapshot.val();
		});

	var fourthHeading = document.getElementById("questionFour");
	var fourthbaseHeadingRef = firebase.database().ref().child("questionFour");
	fourthbaseHeadingRef.on('value', function(fourthsnapshot){
		fourthHeading.innerHTML = fourthsnapshot.val();
		});
}
function submitClick() {
	if(pos==1){
	var firstHeading = document.getElementById("questionOne");
	var mainnText = document.getElementById("mainText");
	var submitBtn = document.getElementById("submitBtn");
	var firebaseRef = firebase.database().ref();
	firebaseRef.child("questionOne").set(choice);
	var firstbaseHeadingRef = firebase.database().ref().child("questionOne");
	firstbaseHeadingRef.on('value', function(firstsnapshot){
		firstHeading.innerHTML = firstsnapshot.val();
		});
	}

	if(pos==2){
	var secondHeading = document.getElementById("questionTwo");
	var mainnText = document.getElementById("mainText");
	var submitBtn = document.getElementById("submitBtn");
	var firebaseRef = firebase.database().ref();
	firebaseRef.child("questionTwo").set(choice);
	var secondbaseHeadingRef = firebase.database().ref().child("questionTwo");
	secondbaseHeadingRef.on('value', function(secondsnapshot){
		secondHeading.innerHTML = secondsnapshot.val();
		});
	}
	
	if(pos==3){
	var thirdHeading = document.getElementById("questionThree");
	var mainnText = document.getElementById("mainText");
	var submitBtn = document.getElementById("submitBtn");
	var firebaseRef = firebase.database().ref();
	firebaseRef.child("questionThree").set(choice);
	var thirdbaseHeadingRef = firebase.database().ref().child("questionThree");
	thirdbaseHeadingRef.on('value', function(thirdsnapshot){
		thirdHeading.innerHTML = thirdsnapshot.val();
		});
	}
	
	if(pos==4){
	var fourthHeading = document.getElementById("questionFour");
	var mainnText = document.getElementById("mainText");
	var submitBtn = document.getElementById("submitBtn");
	var firebaseRef = firebase.database().ref();
	firebaseRef.child("questionFour").set(choice);
	var fourthbaseHeadingRef = firebase.database().ref().child("questionFour");
	fourthbaseHeadingRef.on('value', function(fourthsnapshot){
		fourthHeading.innerHTML = fourthsnapshot.val();
		});
	}
}
</script>
</script>
</head>
<body>
<h2 id="test_status"></h2>
<div id="test"></div>
</body>
</html>