
body {
	text-align: center;
    background-color: powderblue;
}

.button {
    background-color: pink; 
    color: royalblue;
    font-family: Helvetica;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 100px;

}

.next {
	background-color: pink; 
    color: royalblue;
    font-family: Helvetica;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    float: right;
    margin-top: 100px;
}

.submit {
	background-color: pink;
	color: royalblue;
	font-family: Helvetica;
	border-radius: 50px;
	font-size: 20px;
	width: 100px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}

.left {
	background-color: pink;
	color: royalblue;
	font-family: Helvetica;
	border-radius: 50px;
	font-size: 20px;
	width: 100px;
	height: 40px;
	text-decoration: none;
	margin-right: 15px;
}

.retake {
	background-color: pink;
	color: royalblue;
	font-family: Helvetica;
	border-radius: 50px;
	font-size: 20px;
	width: 400px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
	margin-right: 45px;
}

.mainText {
	margin-bottom: 15px;
	height: 20px;
	width: 100px;
}

.inline {
	display: inline;
	color: red;
}

.outline {
	display: inline;
	color: green;
}

.one {
	display: inline;
}

.two {
	display: inline;
}

.three {
	display: inline;
}

.four {
	display: inline;
}

.question {
    margin-top: 100px;
    font-size: 30px;
}

.correct {
	margin-top: 100px;
	font-size: 30px;
}

.answer {
	margin-top: 0px;
	color: green;
}
